


 

 @media only screen and (min-width: 768px) {
    .card-container{
        width:310px;
    }
     .image-container{
         width:150px;
         height: 150px;
     }
     .play-section{
         margin-bottom: 34px;
     }
     .fa{
        font-size:30px;
         
     }
     .fa-play-circle,.fa-pause-circle{
         font-size:38px;
     }
     .card-container .song-name{
         font-size:24px;
     }
     .card-container .author-name{
         font-size:22px;
     }
     
 }
